.cart{
    position: fixed;
    overflow-y: scroll;
    height: 80vh;
    width: 80vw;
    background-color: rgba(26, 26, 26, 0.774);
    color: white;
    z-index: 1;
}
table{
    width: 80%;
    margin: 0 auto;
}
table img{
    max-width: 3rem;
}