nav{
    background-color: black;
    color: white;
    
    
    
}
nav ul{
    list-style: none;
    display: flex;
    
    
    
}
nav li{
    margin-left: 2rem;
    padding: 1rem;
    
}
nav li:hover {
    background-color: grey;
  }